<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gifts</key>
	<array>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>1</string>
			<key>gittName</key>
			<string>pants</string>
			<key>giftImage</key>
			<string>裤子</string>
			<key>giftDescriptiion</key>
			<string>Fashionable clothes and pants make you look young</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>2</string>
			<key>gittName</key>
			<string>Elderly machine</string>
			<key>giftImage</key>
			<string>老人机</string>
			<key>giftDescriptiion</key>
			<string>If the body is old and the heart is not old, use Nokia to catch up with the times</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>3</string>
			<key>gittName</key>
			<string>Bag</string>
			<key>giftImage</key>
			<string>包包</string>
			<key>giftDescriptiion</key>
			<string>Love lollWoman&apos;s bag, man&apos;s heartipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>笔记本</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>梨</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>帽子</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>牛仔帽</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>女装T恤</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>皮带</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>皮鞋</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>皮靴</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>苹果电脑</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>手机</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>水果苹果</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>塑料鞋</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>洗衣机</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>运动鞋</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>T恤</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
			<key>New item</key>
			<dict>
				<key>giftNumber</key>
				<string>0</string>
				<key>gittName</key>
				<string>Lollipop</string>
				<key>giftImage</key>
				<string>Logo</string>
				<key>giftDescriptiion</key>
				<string>Love lollipop, full of vitality all day</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
