<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gifts</key>
	<array>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>1</string>
			<key>gittName</key>
			<string>pants</string>
			<key>giftImage</key>
			<string>裤子</string>
			<key>giftDescriptiion</key>
			<string>Fashionable clothes and pants make you look young</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>2</string>
			<key>gittName</key>
			<string>Elderly machine</string>
			<key>giftImage</key>
			<string>老人机</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
		<dict>
			<key>giftNumber</key>
			<string>0</string>
			<key>gittName</key>
			<string>Lollipop</string>
			<key>giftImage</key>
			<string>棒棒糖</string>
			<key>giftDescriptiion</key>
			<string>Love lollipop, full of vitality all day</string>
		</dict>
	</array>
</dict>
</plist>
